@font-face {
    font-family: 'opensans_police';
    src: url('../police/opensans_police.eot');
    src: url('../police/opensans_police.eot?#iefix') format('embedded-opentype'),
         url('../police/opensans_police.woff') format('woff'),
         url('../police/opensans_police.ttf') format('truetype'),
         url('../police/opensans_police.svg#opensans_police') format('svg');
}

#flex_parent {
	display: flex;
	font-family: opensans_police;
	flex-direction: column;
}

#flex_presentation {
	align-self: center;
}

#flex_image {
	position: absolute;
	align-self: flex-end;
	}

#flex_image img {
	border: 1px solid black;
	box-shadow: 1px 1px teal;
}

#flex_presentation small {
	border-bottom-style: groove;
	color: #003a46;
	font-weight: bold;
}

body {
	font-family: opensans_police, serif;
	font-size: 125%;
}

h2 {
	/*text-align: center;*/
	color: #003a46;
}

#body {
	display: flex;
	justify-content: space-between;
	margin-left: 5.3%;
}

#mon_experience, #ma_formation, #mes_competences {
	padding : 6%;
	}

#mes_competences li {
	list-style-type: none;
}

#liseret {
	background-color: #003a46;
	height: 100px;
	width: 9%;
	border: 1px solid #003a46;
	border-radius: 8px;
	display: inline-block;
	position: absolute;
	margin-left: -0.7%;
	padding-top: 70%;
	margin-top: -22px;
}