@font-face {
    font-family: 'opensans_police';
    src: url('../police/opensans_police.eot');
    src: url('../police/opensans_police.eot?#iefix') format('embedded-opentype'),
         url('../police/opensans_police.woff') format('woff'),
         url('../police/opensans_police.ttf') format('truetype'),
         url('../police/opensans_police.svg#opensans_police') format('svg');
}
/*
.color_txt {
	color: #3f00ff;
}

.align_txt {
	text-align: right;
}

body {
	background-image: url("img/background.jpg");
	background-repeat: repeat-x;
	font-family: 'opensans_police', Arial, serif;
}

ol {
	border: outset;
	text-shadow: 3px 3px #1500ff;
}
*/

header {
	text-align: center;
	font-family: opensans_police;
}

header img {
	border: 1px solid black;
	box-shadow: 1px 1px teal;
}

header small {
	border-bottom-style: groove;
	color: #003a46;
	font-weight: bold;
}

body {
	font-family: opensans_police, serif;
}

#body {
	display: flex;
	justify-content: space-between;
}

#mon_experience {
	/*background-color: pink;*/
	border: 5px double #003a46;
	padding : 1%;
	border-radius: 10px;
}

#mon_experience h2 {
	text-align: center;
}

#mes_etudes {
	/*background-color: red;*/
	border: 5px double #003a46;
	padding : 1%;
	border-radius: 10px;
}

#mes_etudes h2 {
	text-align: center;
}

#mes_competences {
	background-color: green;
	text-align: center;
	border-radius: 10px;
	padding : 1%;
}

#mes_ecompetences h2 {
	text-align: center;
}